<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Residence Hotel</title>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    
    <style>
       

        /* Logo görseli */
        .logo a img {
            height: 80px; /* Görselin yüksekliğini azaltarak daha basık yapıyoruz */
            width: 150px; /* Görselin genişliğini artırıyoruz */
            position: fixed; /* Sayfanın köşesinde sabitlenmesini sağlar */
            top: 40px; /* Üstten 10px mesafe, daha basık olacak */
            left: 30px; /* Soldan 30px mesafe, sol köşede */
            
        }


        .logo {
            position: sticky; /* veya fixed */
            top: 0; /* Üstten sabitle */
            z-index: 100; /* Diğer içeriklerin üstünde görünmesi için */
            background-color: white; /* Arka plan rengi, sayfa kayarken görünürlük için */
            padding: 10px 0; /* Üst ve alt boşluk */
        }

        #whatsapp-chat a img {
            border-radius: 50%;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        }

        #whatsapp-chat a:hover img {
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
    </style>
</head>
<body>

    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
       
        <div class="header-configure-area">
            <div class="language-option">
                <img src="/img/flag.jpg" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">Zi</a></li>
                        <li><a href="#">Fr</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/MakeRoom">Rooms</a></li>
                <li><a href="/Home/About">About Us</a></li>
               
                <li><a href="/Home/Blog">News</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <!-- Hotels.com Linki ve İkonu -->
            <a href="https://tr.hotels.com/" target="_blank" title="Hotels.com">
                <i class="fa fa-hotel"></i> <!-- Otel simgesi -->
            </a>

            <!-- Obilet Linki ve İkonu -->
            <a href="https://www.obilet.com/otel" target="_blank" title="Obilet">
                <i class="fa fa-bus"></i> <!-- Otobüs simgesi -->
            </a>

            <!-- Etstur Linki ve İkonu -->
            <a href="https://www.etstur.com/Otel" target="_blank" title="Etstur">
                <i class="fa fa-map"></i> <!-- Seyahat haritası simgesi -->
            </a>

            <!-- Otelz Linki ve İkonu -->
            <a href="https://www.otelz.com/" target="_blank" title="Otelz">
                <i class="fa fa-bed"></i> <!-- Yatak simgesi -->
            </a>
        </div>


        <ul class="top-widget">
            <li><i class="fa fa-phone"></i>(544) 310 7155</li>
            <li><i class="fa fa-envelope"></i> info.recidanceom</li>
        </ul>
    </div>

    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (544) 310 71 55</li>
                            <li><i class="fa fa-envelope"></i> recidence@gmail.com</li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="logo">
                            <!-- Hatalı tırnak işareti düzeltildi -->
                            <a href="/Home/Index">
                                <img src="/img/logo.png" alt="Residence Hotel Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="/Home/Index">Anasayfa</a></li>
                                    <li><a href="/Home/RoomList">Odalar</a></li>
                                    <li><a href="/Home/HotelGalery">Galeri</a></li>
                                    <li><a href="/Home/About">Hakkımızda</a></li>
                                    <li><a href="/Home/Blog">Blog</a></li>
                                    <li><a href="/Home/Contact">İletişim</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="">
                                <a href="#">
                                    
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Hakkımızda</h6>
                            <ul>
                                <li>(544) 310 71 55</li>
                                <li>recidence@gmail.com</li>
                                <li>Kağıthane Merkez -İstanbul</li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                       
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                              <script>document.write(new Date().getFullYear());</script> Bu sayfa, Nazlı Sunay Bülbül tarafından hazırlanmıştır. Kullanıcı verilerinin gizliliği ve korunması öncelikli hedefimizdir. Daha fazla bilgi için lütfen gizlilik politikamızı inceleyin. <i class="fa fa-heart" aria-hidden="true"></i> </a>
                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
  
    <div id="whatsapp-chat" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
        <a href="https://wa.me/905443107155" target="_blank">
            <img src="/img/whatsapp-icon.png" alt="WhatsApp İkonu" style="width: 60px; height: 60px;">
        </a>
    </div>

  

    <!-- JavaScript Dosyaları -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var whatsappBtn = document.createElement('div');
        whatsappBtn.innerHTML = `
            <a href="https://wa.me/905443107155" target="_blank" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
                <img src="/img/whatsapp-icon.png" alt="WhatsApp İkonu" style="width: 60px; height: 60px;">
            </a>`;
        document.body.appendChild(whatsappBtn);
    });
</script>

