<!-- Contact Section Begin -->
@{
    Layout = "_Layout";
}




<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>İletişim Bilgisi</h2>
                   
                    <table>
                        <tbody>
                            <tr>
                                <td class="c-o">Address:</td>
                                <td>Kağıthane Otel, Merkez, Nagihan Sokağı No:3, 34406 Kağıthane/İstanbul</td>
                            </tr>
                            <tr>
                                <td class="c-o">Telefon:</td>
                                <td>0 (534) 970 61 53</td>
                            </tr>
                            <tr>
                                <td class="c-o">Email:</td>
                                <td>recidence@gmail.com</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Your Message"></textarea>
                            <button type="submit">Submit Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.0606825994123!2d28.964617!3d41.0812276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab4e4c9f1b3b7%3A0x9c1f3b4a9b5e6c5!2sNagihan%20Soka%C4%9F%C4%B1%20No3%20Merkez%2034406%20Ka%C4%9Fithane%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1690000000000!5m2!1str!2str"
                    height="470"
                    style="border:0;"
                    allowfullscreen="">
            </iframe>
        </div>


    </div>
</section>
<!-- Contact Section End -->